.wrap{
  width: 980px;
  margin: 0 auto;
}

.header{
  height: 150px;
  background-color: #ea8c46;
}

.container{
  height: 720px;
}

.container:after{
  content: "";
  display: block;
  clear: both;
}


.lnb{
  width: 245px;
  height: 720px;
  background-color: coral;
  float: left;
}

.another{
  width: 245px;
  height: 720px;
  background-color: crimson;
  float: left;
}

.right-col{
  width: 490px;
  float: left;
}

.content{
  height: 360px;
  background-color: brown;
}

.last{
  height: 360px;
  background-color: darksalmon;
}

.footer{
  height: 150px;
  background-color: darkred;
  clear: both;
}