.wrap{
  width: 980px;
  margin: 0 auto;

}

.header{
  height: 100px;
  background-color: orchid;
}

.container{
  margin: 0 0;
}

.container:after{
  content: "";
  display: block;
  clear: both;
}

.left-col{
  width: 340px;
  float: left;
}
.first-tile{
  width: 340px;
  height: 150px;
  background-color: tomato;
  font-size: 30px;
  font-style: italic;
  color: white;
}

.and-another{
  width: 340px;
  height: 350px;
  background-color: coral;
  font-size: 30px;
  font-style: italic;
  color: white;
}

.right-col{
  width: 640px;
  float: left;
}
.another-tile{
  width: 640px;
  height: 400px;
  background-color: crimson;
  font-size: 30px;
  font-style: italic;
  color: white;

}

.forth{
  width: 420px;
  height: 100px;
  background-color: palevioletred;
  float: left;
  font-size: 30px;
  font-style: italic;
  color: white;
}

.last{
  width: 220px;
  height:100px;
  background-color: thistle;
  float: left;
  font-size: 30px;
  font-style: italic;
  color: white;
}

.footer{
  height: 100px;
  background-color: indianred;
  clear: both;
}