.wrap{
  width: 320px;
  margin: 0 auto;
}

.header{
  width: 320px;
  height: 50px;
  float: left;
  margin-bottom: 10px;
  background-color: brown;
}

.container{
  height: 420px;
  float: left;
}

.container:after{
  content: "";
  display: block;
  clear: both;
}

.top{
  width: 320px;
  height: 200px;
  float: left;
  margin-bottom: 10px;
}

.left-col{
  width: 155px;
  height: 200px;
  float: left;
  margin-right: 10px;
}

.section1{
  width: 155px;
  height: 95px;
  margin-bottom: 10px;
  float: left;
  background-color: burlywood;
}

.section2{
  width: 155px;
  height: 95px;
  float: left;
  background-color: red;
}

.right-col{
  width: 155px;
  height: 200px;
  float: left;
}

.section3{
  width: 155px;
  height: 60px;
  margin-bottom: 10px;
  float: left;
  background-color: crimson;
}

.section4{
  width: 155px;
  height: 60px;
  margin-bottom: 10px;
  float: left;
  background-color: salmon;
}
.section5{
  width: 155px;
  height: 60px;
  float: left;
  background-color: lightseagreen;
}

.top1{
  width: 320px;
  height: 210px;
  float: left;
  margin-bottom: 10px;
}

.left-col1{
  width: 155px;
  height: 210px;
  float: left;
  margin-right: 10px;
}

.article1{
  width: 155px;
  height: 100px;
  float: left;
  margin-bottom: 10px;
  background-color: #aaaaaa;
}

.article2{
  width: 155px;
  height: 100px;
  float: left;
  background-color: black;
}

.right-col1{
  width: 155px;
  height: 210px;
  float: left;
}

.article3{
  width: 155px;
  height: 100px;
  float: left;
  background-color: brown;
  margin-bottom: 10px;
}

.article4{
  width: 155px;
  height: 100px;
  float: left;
  background-color: burlywood;
}

.footer{
  width: 320px;
  height: 50px;
  clear: both;
  background-color: chocolate;
}




























